<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>custom vue</title>
</head>
<body>
	<div id="wrap">
		<p v-html="test"></p>
		<input type="text" v-model="customData">
		<input type="text" v-model="customData">
		<button @click="changeValue">改变数据</button>
		{{customData}}
	</div>
	<script src="./vue-custom.js"></script>
	<script>
		new Vue({
			el: '#wrap',
			data: {
				customData: '这是customData值',
				test: '<strong>字体变粗了</strong>'
			},
			methods: {
				changeValue() {
					console.log(this.customData);
					this.customData = '值变了';
				}
			}
		})
	</script>
</body>
</html>